# https://medium.com/@afganabbas/sending-emails-in-nuxt-3-without-smtp-free-bc7c5436103f
NUXT_MAIL_SMTP = 'smtp.gmail.com'   # Stays same
NUXT_MAIL_PORT = 465   # You can change it
NUXT_MAIL_USERNAME = 'sender@gmail.com'  # Put mail here that password belongs to
NUXT_MAIL_PASSWORD = xxxx xxxx xxxx xxxx  # Generated mail password
NUXT_MAIL_TARGET = 'receiver@gmail.com' # The address that server will send mails to